{% extends "base.html" %}
  {% block content %}
      <h2>NHL Standings</h2>
      {% for division in divisions %}
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">{{division}}</th>
              <th scope="col">GP</th>
              <th scope="col">W</th>
              <th scope="col">L</th>
              <th scope="col">OT</th>
              <th scope="col">PTS</th>
              <th scope="col">L10</th>
              <th scope="col">STRK</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>DREAM TEAM</td>
              <td>53</td>
              <td>27</td>
              <td>14</td>
              <td>3</td>
              <td>67</td>
              <td>8-1-1</td>
              <td>W3</td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
  {% endblock content %}
